<div class="catalog-page__rows">

    <div class="catalog-page__row">
        @@include('../cards/_catalog-card2.html',{"img":"img/card2.webp", "sizes":"true", "status":"img/clock.svg","statusText":"Недоступно","sale":"true","discount":"true"})
    </div>
    <div class="catalog-page__row">
        @@include('../cards/_catalog-card2.html',{"img":"img/card3.webp", "sizes":"false", "status":"img/has.svg","statusText":"В наличии","sale":"false","discount":"false"})
    </div>
    <div class="catalog-page__row">
        @@include('../cards/_catalog-card2.html',{"img":"img/card4.webp", "sizes":"true", "status":"img/has-grey.svg","statusText":"Под заказ","sale":"true","discount":"true"})
    </div>
    <div class="catalog-page__row">
        @@include('../cards/_catalog-card2.html',{"img":"img/card2.webp", "sizes":"true", "status":"img/clock.svg","statusText":"Недоступно","sale":"true","discount":"true"})
    </div>
    <div class="catalog-page__row">
        @@include('../cards/_catalog-card2.html',{"img":"img/card3.webp", "sizes":"false", "status":"img/has.svg","statusText":"В наличии","sale":"false","discount":"false"})
    </div>
    <div class="catalog-page__row">
        @@include('../cards/_catalog-card2.html',{"img":"img/card4.webp", "sizes":"true", "status":"img/has-grey.svg","statusText":"Под заказ","sale":"true","discount":"true"})
    </div>
    <div class="catalog-page__row">
        @@include('../cards/_catalog-card2.html',{"img":"img/card2.webp", "sizes":"true", "status":"img/clock.svg","statusText":"Недоступно","sale":"true","discount":"true"})
    </div>
    <div class="catalog-page__row">
        @@include('../cards/_catalog-card2.html',{"img":"img/card3.webp", "sizes":"false", "status":"img/has.svg","statusText":"В наличии","sale":"false","discount":"false"})
    </div>
    <div class="catalog-page__row">
        @@include('../cards/_catalog-card2.html',{"img":"img/card4.webp", "sizes":"true", "status":"img/has-grey.svg","statusText":"Под заказ","sale":"true","discount":"true"})
    </div>
    <div class="catalog-page__row">
        @@include('../cards/_catalog-card2.html',{"img":"img/card2.webp", "sizes":"true", "status":"img/clock.svg","statusText":"Недоступно","sale":"true","discount":"true"})
    </div>
    <div class="catalog-page__row">
        @@include('../cards/_catalog-card2.html',{"img":"img/card3.webp", "sizes":"false", "status":"img/has.svg","statusText":"В наличии","sale":"false","discount":"false"})
    </div>
    <div class="catalog-page__row">
        @@include('../cards/_catalog-card2.html',{"img":"img/card4.webp", "sizes":"true", "status":"img/has-grey.svg","statusText":"Под заказ","sale":"true","discount":"true"})
    </div>
    <div class="catalog-page__row">
        @@include('../cards/_catalog-card2.html',{"img":"img/card2.webp", "sizes":"true", "status":"img/clock.svg","statusText":"Недоступно","sale":"true","discount":"true"})
    </div>
    <div class="catalog-page__row">
        @@include('../cards/_catalog-card2.html',{"img":"img/card3.webp", "sizes":"false", "status":"img/has.svg","statusText":"В наличии","sale":"false","discount":"false"})
    </div>
    <div class="catalog-page__row">
        @@include('../cards/_catalog-card2.html',{"img":"img/card4.webp", "sizes":"true", "status":"img/has-grey.svg","statusText":"Под заказ","sale":"true","discount":"true"})
    </div>
    <div class="catalog-page__row">
        @@include('../cards/_catalog-card2.html',{"img":"img/card2.webp", "sizes":"true", "status":"img/clock.svg","statusText":"Недоступно","sale":"true","discount":"true"})
    </div>
    <div class="catalog-page__row">
        @@include('../cards/_catalog-card2.html',{"img":"img/card3.webp", "sizes":"false", "status":"img/has.svg","statusText":"В наличии","sale":"false","discount":"false"})
    </div>
    <div class="catalog-page__row">
        @@include('../cards/_catalog-card2.html',{"img":"img/card4.webp", "sizes":"true", "status":"img/has-grey.svg","statusText":"Под заказ","sale":"true","discount":"true"})
    </div>
    <div class="catalog-page__row">
        @@include('../cards/_catalog-card2.html',{"img":"img/card2.webp", "sizes":"true", "status":"img/clock.svg","statusText":"Недоступно","sale":"true","discount":"true"})
    </div>
    <div class="catalog-page__row">
        @@include('../cards/_catalog-card2.html',{"img":"img/card3.webp", "sizes":"false", "status":"img/has.svg","statusText":"В наличии","sale":"false","discount":"false"})
    </div>
    <div class="catalog-page__row">
        @@include('../cards/_catalog-card2.html',{"img":"img/card4.webp", "sizes":"true", "status":"img/has-grey.svg","statusText":"Под заказ","sale":"true","discount":"true"})
    </div>
    <div class="catalog-page__row">
        @@include('../cards/_catalog-card2.html',{"img":"img/card2.webp", "sizes":"true", "status":"img/clock.svg","statusText":"Недоступно","sale":"true","discount":"true"})
    </div>
    <div class="catalog-page__row">
        @@include('../cards/_catalog-card2.html',{"img":"img/card3.webp", "sizes":"false", "status":"img/has.svg","statusText":"В наличии","sale":"false","discount":"false"})
    </div>
    <div class="catalog-page__row">
        @@include('../cards/_catalog-card2.html',{"img":"img/card4.webp", "sizes":"true", "status":"img/has-grey.svg","statusText":"Под заказ","sale":"true","discount":"true"})
    </div>
    <div class="catalog-page__row">
        @@include('../cards/_catalog-card2.html',{"img":"img/card2.webp", "sizes":"true", "status":"img/clock.svg","statusText":"Недоступно","sale":"true","discount":"true"})
    </div>
    <div class="catalog-page__row">
        @@include('../cards/_catalog-card2.html',{"img":"img/card3.webp", "sizes":"false", "status":"img/has.svg","statusText":"В наличии","sale":"false","discount":"false"})
    </div>
    <div class="catalog-page__row">
        @@include('../cards/_catalog-card2.html',{"img":"img/card4.webp", "sizes":"true", "status":"img/has-grey.svg","statusText":"Под заказ","sale":"true","discount":"true"})
    </div>
    <div class="catalog-page__row">
        @@include('../cards/_catalog-card2.html',{"img":"img/card2.webp", "sizes":"true", "status":"img/clock.svg","statusText":"Недоступно","sale":"true","discount":"true"})
    </div>
    <div class="catalog-page__row">
        @@include('../cards/_catalog-card2.html',{"img":"img/card3.webp", "sizes":"false", "status":"img/has.svg","statusText":"В наличии","sale":"false","discount":"false"})
    </div>
    <div class="catalog-page__row">
        @@include('../cards/_catalog-card2.html',{"img":"img/card4.webp", "sizes":"true", "status":"img/has-grey.svg","statusText":"Под заказ","sale":"true","discount":"true"})
    </div>



</div>