<div class="catalog-page__grid">
    <div class="catalog-page__card catalog-page__card-border catalog-page__card-border--blue">
        @@include('../cards/_catalog-card.html',{"deleteBtn":"false","favourite": "false","sizes":"false", "popular":"true", "newProduct":"false","topSale":"false", "winSale":"false", "status":"img/clock.svg","statusText":"Недоступно","sale":"false","discount":"true"})
    </div>
    <div class="catalog-page__card catalog-page__card-border catalog-page__card-border--orange">
        @@include('../cards/_catalog-card.html',{"deleteBtn":"false","favourite": "false","sizes":"false", "popular":"true", "newProduct":"false", "topSale":"false", "winSale":"false", "status":"img/has.svg","statusText":"В наличии","sale":"true","discount":"true"})
    </div>
    <div class="catalog-page__card catalog-page__card-border catalog-page__card-border--orange">
        @@include('../cards/_catalog-card.html',{"deleteBtn":"false","favourite": "false","sizes":"false", "popular":"true", "newProduct":"false", "topSale":"false", "winSale":"false", "status":"img/has.svg","statusText":"В наличии","sale":"false","discount":"false"})
    </div>
    <div class="catalog-page__card catalog-page__card-border catalog-page__card-border--blue">
        @@include('../cards/_catalog-card.html',{"deleteBtn":"false","favourite": "false","sizes":"false", "popular":"true", "newProduct":"false", "topSale":"false", "winSale":"false", "status":"img/has-grey.svg","statusText":"Под заказ","sale":"false","discount":"false"})
    </div>
    <div class="catalog-page__card catalog-page__card-border catalog-page__card-border--orange">
        @@include('../cards/_catalog-card.html',{"deleteBtn":"false","favourite": "false","sizes":"false", "popular":"true", "newProduct":"false", "topSale":"false", "winSale":"false", "status":"img/has.svg","statusText":"В наличии","sale":"false","discount":"false"})
    </div>


    <div class="catalog-page__card">
        @@include('../cards/_catalog-card.html',{"deleteBtn":"false","favourite": "false","sizes":"true", "popular":"false", "newProduct":"false","topSale":"false", "winSale":"true", "status":"img/clock.svg","statusText":"Недоступно","sale":"false","discount":"true"})
    </div>
    <div class="catalog-page__card">
        @@include('../cards/_catalog-card.html',{"deleteBtn":"false","favourite": "false","sizes":"true", "popular":"false", "newProduct":"true", "topSale":"true", "winSale":"false", "status":"img/has.svg","statusText":"В наличии","sale":"true","discount":"true"})
    </div>
    <div class="catalog-page__card">
        @@include('../cards/_catalog-card.html',{"deleteBtn":"false","favourite": "false","sizes":"true", "popular":"false", "newProduct":"true", "topSale":"false", "winSale":"false", "status":"img/has.svg","statusText":"В наличии","sale":"false","discount":"false"})
    </div>
    <div class="catalog-page__card">
        @@include('../cards/_catalog-card.html',{"deleteBtn":"false","favourite": "false","sizes":"true", "popular":"false", "newProduct":"true", "topSale":"false", "winSale":"true", "status":"img/has-grey.svg","statusText":"Под заказ","sale":"false","discount":"false"})
    </div>
    <div class="catalog-page__card">
        @@include('../cards/_catalog-card.html',{"deleteBtn":"false","favourite": "false","sizes":"true", "popular":"false", "newProduct":"false", "topSale":"false", "winSale":"false", "status":"img/has.svg","statusText":"В наличии","sale":"false","discount":"false"})
    </div>

    <div class="catalog-page__card">
        @@include('../cards/_catalog-card.html',{"deleteBtn":"false","favourite": "false","sizes":"true", "popular":"false", "newProduct":"false", "topSale":"false", "winSale":"false", "status":"img/has.svg","statusText":"В наличии","sale":"false","discount":"false"})
    </div>
    <div class="catalog-page__card">
        @@include('../cards/_catalog-card.html',{"deleteBtn":"false","favourite": "false","sizes":"true", "popular":"false", "newProduct":"false", "topSale":"false", "winSale":"false", "status":"img/has.svg","statusText":"В наличии","sale":"false","discount":"false"})
    </div>
    <div class="catalog-page__card">
        @@include('../cards/_catalog-card.html',{"deleteBtn":"false","favourite": "false","sizes":"true", "popular":"false", "newProduct":"false", "topSale":"false", "winSale":"false", "status":"img/has.svg","statusText":"В наличии","sale":"false","discount":"false"})
    </div>
    <div class="catalog-page__card">
        @@include('../cards/_catalog-card.html',{"deleteBtn":"false","favourite": "false","sizes":"true", "popular":"false", "newProduct":"false", "topSale":"false", "winSale":"false", "status":"img/has.svg","statusText":"В наличии","sale":"false","discount":"false"})
    </div>
    <div class="catalog-page__card">
        @@include('../cards/_catalog-card.html',{"deleteBtn":"false","favourite": "false","sizes":"true", "popular":"false", "newProduct":"false", "topSale":"false", "winSale":"false", "status":"img/has.svg","statusText":"В наличии","sale":"false","discount":"false"})
    </div>

    <div class="catalog-page__card">
        @@include('../cards/_catalog-card.html',{"deleteBtn":"false","favourite": "false","sizes":"true", "popular":"false", "newProduct":"false", "topSale":"false", "winSale":"false", "status":"img/has.svg","statusText":"В наличии","sale":"false","discount":"false"})
    </div>
    <div class="catalog-page__card">
        @@include('../cards/_catalog-card.html',{"deleteBtn":"false","favourite": "false","sizes":"true", "popular":"false", "newProduct":"false", "topSale":"false", "winSale":"false", "status":"img/has.svg","statusText":"В наличии","sale":"false","discount":"false"})
    </div>
    <div class="catalog-page__card">
        @@include('../cards/_catalog-card.html',{"deleteBtn":"false","favourite": "false","sizes":"true", "popular":"false", "newProduct":"false", "topSale":"false", "winSale":"false", "status":"img/has.svg","statusText":"В наличии","sale":"false","discount":"false"})
    </div>
    <div class="catalog-page__card">
        @@include('../cards/_catalog-card.html',{"deleteBtn":"false","favourite": "false","sizes":"true", "popular":"false", "newProduct":"false", "topSale":"false", "winSale":"false", "status":"img/has.svg","statusText":"В наличии","sale":"false","discount":"false"})
    </div>
    <div class="catalog-page__card">
        @@include('../cards/_catalog-card.html',{"deleteBtn":"false","favourite": "false","sizes":"true", "popular":"false", "newProduct":"false", "topSale":"false", "winSale":"false", "status":"img/has.svg","statusText":"В наличии","sale":"false","discount":"false"})
    </div>

    <a href="" class="catalog-page__banner">
        <img src="img/banner2.webp" alt="">
    </a>
    <div class="catalog-page__card">
        @@include('../cards/_catalog-card.html',{"deleteBtn":"false","favourite": "false","sizes":"true", "popular":"false", "newProduct":"false", "topSale":"false", "winSale":"false", "status":"img/has.svg","statusText":"В наличии","sale":"false","discount":"false"})
    </div>
    <div class="catalog-page__card">
        @@include('../cards/_catalog-card.html',{"deleteBtn":"false","favourite": "false","sizes":"true", "popular":"false", "newProduct":"false", "topSale":"false", "winSale":"false", "status":"img/has.svg","statusText":"В наличии","sale":"false","discount":"false"})
    </div>
    <div class="catalog-page__card">
        @@include('../cards/_catalog-card.html',{"deleteBtn":"false","favourite": "false","sizes":"true", "popular":"false", "newProduct":"false", "topSale":"false", "winSale":"false", "status":"img/has.svg","statusText":"В наличии","sale":"false","discount":"false"})
    </div>
    <div class="catalog-page__card">
        @@include('../cards/_catalog-card.html',{"deleteBtn":"false","favourite": "false","sizes":"true", "popular":"false", "newProduct":"false", "topSale":"false", "winSale":"false", "status":"img/has.svg","statusText":"В наличии","sale":"false","discount":"false"})
    </div>

    <div class="catalog-page__card">
        @@include('../cards/_catalog-card.html',{"deleteBtn":"false","favourite": "false","sizes":"true", "popular":"false", "newProduct":"false", "topSale":"false", "winSale":"false", "status":"img/has.svg","statusText":"В наличии","sale":"false","discount":"false"})
    </div>
    <div class="catalog-page__card">
        @@include('../cards/_catalog-card.html',{"deleteBtn":"false","favourite": "false","sizes":"true", "popular":"false", "newProduct":"false", "topSale":"false", "winSale":"false", "status":"img/has.svg","statusText":"В наличии","sale":"false","discount":"false"})
    </div>
    <div class="catalog-page__card">
        @@include('../cards/_catalog-card.html',{"deleteBtn":"false","favourite": "false","sizes":"true", "popular":"false", "newProduct":"false", "topSale":"false", "winSale":"false", "status":"img/has.svg","statusText":"В наличии","sale":"false","discount":"false"})
    </div>
    <div class="catalog-page__card">
        @@include('../cards/_catalog-card.html',{"deleteBtn":"false","favourite": "false","sizes":"true", "popular":"false", "newProduct":"false", "topSale":"false", "winSale":"false", "status":"img/has.svg","statusText":"В наличии","sale":"false","discount":"false"})
    </div>
    <div class="catalog-page__card">
        @@include('../cards/_catalog-card.html',{"deleteBtn":"false","favourite": "false","sizes":"true", "popular":"false", "newProduct":"false", "topSale":"false", "winSale":"false", "status":"img/has.svg","statusText":"В наличии","sale":"false","discount":"false"})
    </div>


    <div class="catalog-page__card">
        @@include('../cards/_catalog-card.html',{"deleteBtn":"false","favourite": "false","sizes":"true", "popular":"false", "newProduct":"false", "topSale":"false", "winSale":"false", "status":"img/has.svg","statusText":"В наличии","sale":"false","discount":"false"})
    </div>
    <div class="catalog-page__card">
        @@include('../cards/_catalog-card.html',{"deleteBtn":"false","favourite": "false","sizes":"true", "popular":"false", "newProduct":"false", "topSale":"false", "winSale":"false", "status":"img/has.svg","statusText":"В наличии","sale":"false","discount":"false"})
    </div>
    <div class="catalog-page__card">
        @@include('../cards/_catalog-card.html',{"deleteBtn":"false","favourite": "false","sizes":"true", "popular":"false", "newProduct":"false", "topSale":"false", "winSale":"false", "status":"img/has.svg","statusText":"В наличии","sale":"false","discount":"false"})
    </div>
    <a href="" class="catalog-page__banner catalog-page__banner--big">
        <img src="img/banner2.webp" alt="">
    </a>
    <div class="catalog-page__card">
        @@include('../cards/_catalog-card.html',{"deleteBtn":"false","favourite": "false","sizes":"true", "popular":"false", "newProduct":"false", "topSale":"false", "winSale":"false", "status":"img/has.svg","statusText":"В наличии","sale":"false","discount":"false"})
    </div>
    <div class="catalog-page__card">
        @@include('../cards/_catalog-card.html',{"deleteBtn":"false","favourite": "false","sizes":"true", "popular":"false", "newProduct":"false", "topSale":"false", "winSale":"false", "status":"img/has.svg","statusText":"В наличии","sale":"false","discount":"false"})
    </div>
    <div class="catalog-page__card">
        @@include('../cards/_catalog-card.html',{"deleteBtn":"false","favourite": "false","sizes":"true", "popular":"false", "newProduct":"false", "topSale":"false", "winSale":"false", "status":"img/has.svg","statusText":"В наличии","sale":"false","discount":"false"})
    </div>

    <div class="catalog-page__card">
        @@include('../cards/_catalog-card.html',{"deleteBtn":"false","favourite": "false","sizes":"true", "popular":"false", "newProduct":"false", "topSale":"false", "winSale":"false", "status":"img/has.svg","statusText":"В наличии","sale":"false","discount":"false"})
    </div>
    <div class="catalog-page__card">
        @@include('../cards/_catalog-card.html',{"deleteBtn":"false","favourite": "false","sizes":"true", "popular":"false", "newProduct":"false", "topSale":"false", "winSale":"false", "status":"img/has.svg","statusText":"В наличии","sale":"false","discount":"false"})
    </div>
    <div class="catalog-page__card">
        @@include('../cards/_catalog-card.html',{"deleteBtn":"false","favourite": "false","sizes":"true", "popular":"false", "newProduct":"false", "topSale":"false", "winSale":"false", "status":"img/has.svg","statusText":"В наличии","sale":"false","discount":"false"})
    </div>
    <div class="catalog-page__card">
        @@include('../cards/_catalog-card.html',{"deleteBtn":"false","favourite": "false","sizes":"true", "popular":"false", "newProduct":"false", "topSale":"false", "winSale":"false", "status":"img/has.svg","statusText":"В наличии","sale":"false","discount":"false"})
    </div>
    <div class="catalog-page__card">
        @@include('../cards/_catalog-card.html',{"deleteBtn":"false","favourite": "false","sizes":"true", "popular":"false", "newProduct":"false", "topSale":"false", "winSale":"false", "status":"img/has.svg","statusText":"В наличии","sale":"false","discount":"false"})
    </div>

    <div class="catalog-page__card">
        @@include('../cards/_catalog-card.html',{"deleteBtn":"false","favourite": "false","sizes":"true", "popular":"false", "newProduct":"false", "topSale":"false", "winSale":"false", "status":"img/has.svg","statusText":"В наличии","sale":"false","discount":"false"})
    </div>
    <div class="catalog-page__card">
        @@include('../cards/_catalog-card.html',{"deleteBtn":"false","favourite": "false","sizes":"true", "popular":"false", "newProduct":"false", "topSale":"false", "winSale":"false", "status":"img/has.svg","statusText":"В наличии","sale":"false","discount":"false"})
    </div>
    <div class="catalog-page__card">
        @@include('../cards/_catalog-card.html',{"deleteBtn":"false","favourite": "false","sizes":"true", "popular":"false", "newProduct":"false", "topSale":"false", "winSale":"false", "status":"img/has.svg","statusText":"В наличии","sale":"false","discount":"false"})
    </div>
    <div class="catalog-page__card">
        @@include('../cards/_catalog-card.html',{"deleteBtn":"false","favourite": "false","sizes":"true", "popular":"false", "newProduct":"false", "topSale":"false", "winSale":"false", "status":"img/has.svg","statusText":"В наличии","sale":"false","discount":"false"})
    </div>
    <div class="catalog-page__card">
        @@include('../cards/_catalog-card.html',{"deleteBtn":"false","favourite": "false","sizes":"true", "popular":"false", "newProduct":"false", "topSale":"false", "winSale":"false", "status":"img/has.svg","statusText":"В наличии","sale":"false","discount":"false"})
    </div>

    <a href="" class="catalog-page__banner catalog-page__banner--full">
        <img src="img/banner3.webp" alt="">
    </a>

    <div class="catalog-page__card">
        @@include('../cards/_catalog-card.html',{"deleteBtn":"false","favourite": "false","sizes":"true", "popular":"false", "newProduct":"false", "topSale":"false", "winSale":"false", "status":"img/has.svg","statusText":"В наличии","sale":"false","discount":"false"})
    </div>
    <div class="catalog-page__card">
        @@include('../cards/_catalog-card.html',{"deleteBtn":"false","favourite": "false","sizes":"true", "popular":"false", "newProduct":"false", "topSale":"false", "winSale":"false", "status":"img/has.svg","statusText":"В наличии","sale":"false","discount":"false"})
    </div>
    <div class="catalog-page__card">
        @@include('../cards/_catalog-card.html',{"deleteBtn":"false","favourite": "false","sizes":"true", "popular":"false", "newProduct":"false", "topSale":"false", "winSale":"false", "status":"img/has.svg","statusText":"В наличии","sale":"false","discount":"false"})
    </div>
    <div class="catalog-page__card">
        @@include('../cards/_catalog-card.html',{"deleteBtn":"false","favourite": "false","sizes":"true", "popular":"false", "newProduct":"false", "topSale":"false", "winSale":"false", "status":"img/has.svg","statusText":"В наличии","sale":"false","discount":"false"})
    </div>
    <div class="catalog-page__card">
        @@include('../cards/_catalog-card.html',{"deleteBtn":"false","favourite": "false","sizes":"true", "popular":"false", "newProduct":"false", "topSale":"false", "winSale":"false", "status":"img/has.svg","statusText":"В наличии","sale":"false","discount":"false"})
    </div>
</div>