<div class='container'>
    <div class='header-catalog__inner'>
        <div class="header-catalog__left">
            <div class="header-catalog__tab header-catalog__tab--active" data-tab-path="1">
                <span>Бытовая сантехника</span>
            </div>
            <div class="header-catalog__tab" data-tab-path="2">
                <span>Инженерная сантехника</span>
            </div>
            <div class="header-catalog__tab" data-tab-path="3">
                <span>Мебель для ванных комнат</span>
            </div>
            <div class="header-catalog__tab" data-tab-path="4">
                <span>Отопительное оборудование</span>
            </div>
            <div class="header-catalog__tab" data-tab-path="5">
                <span>Насосное оборудование</span>
            </div>
            <div class="header-catalog__tab" data-tab-path="6">
                <span>Электротовары</span>
            </div>
            <div class="header-catalog__tab header-catalog__tab--red" data-tab-path="7">
                <svg width="18" height="18" viewBox="0 0 18 18" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path d="M15 9V16.5H3V9" stroke="#FA3636" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
                    <path d="M16.5 5.25H1.5V9H16.5V5.25Z" stroke="#FA3636" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
                    <path d="M9 16.5V5.25" stroke="#FA3636" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
                    <path d="M9 5.25H5.625C5.12772 5.25 4.65081 5.05246 4.29917 4.70083C3.94754 4.34919 3.75 3.87228 3.75 3.375C3.75 2.87772 3.94754 2.40081 4.29917 2.04917C4.65081 1.69754 5.12772 1.5 5.625 1.5C8.25 1.5 9 5.25 9 5.25Z" stroke="#FA3636" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
                    <path d="M9 5.25H12.375C12.8723 5.25 13.3492 5.05246 13.7008 4.70083C14.0525 4.34919 14.25 3.87228 14.25 3.375C14.25 2.87772 14.0525 2.40081 13.7008 2.04917C13.3492 1.69754 12.8723 1.5 12.375 1.5C9.75 1.5 9 5.25 9 5.25Z" stroke="#FA3636" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
                </svg>
                <span>Акции и скидки</span>
            </div>
            <div class="header-catalog__tab header-catalog__tab--red" data-tab-path="8">
                <svg width="18" height="18" viewBox="0 0 18 18" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path d="M9 1.5L11.3175 6.195L16.5 6.9525L12.75 10.605L13.635 15.765L9 13.3275L4.365 15.765L5.25 10.605L1.5 6.9525L6.6825 6.195L9 1.5Z" stroke="#FA3636" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
                </svg>
                <span>Распродажи</span>
            </div>
        </div>
        <div class="header-catalog__right">
            <div class="header-catalog__content header-catalog__content--active" data-tab-path="1">
                <div class="header-catalog__grid">
                    <a href="" class="header-catalog__item">
                        <img src="img/catalog.webp" alt="">
                        <span>Ванны</span>
                    </a>
                    <a href="" class="header-catalog__item">
                        <img src="img/catalog2.webp" alt="">
                        <span>Душевые кабины</span>
                    </a>
                    <a href="" class="header-catalog__item">
                        <img src="img/catalog3.webp" alt="">
                        <span>Раковины</span>
                    </a>
                    <a href="" class="header-catalog__item">
                        <img src="img/catalog4.webp" alt="">
                        <span>Смесители</span>
                    </a>
                    <a href="" class="header-catalog__item">
                        <img src="img/catalog5.webp" alt="">
                        <span>Унитазы</span>
                    </a>
                    <a href="" class="header-catalog__item">
                        <img src="img/catalog6.webp" alt="">
                        <span>Инсталляции</span>
                    </a>
                    <a href="" class="header-catalog__item">
                        <img src="img/catalog7.webp" alt="">
                        <span>Сеты (Унитаз с инсталляцией в комплекте)</span>
                    </a>
                    <a href="" class="header-catalog__item">
                        <img src="img/catalog8.webp" alt="">
                        <span>Биде и писсуары</span>
                    </a>
                    <a href="" class="header-catalog__item">
                        <img src="img/catalog9.webp" alt="">
                        <span>Мойки для кухни</span>
                    </a>
                    <a href="" class="header-catalog__item">
                        <img src="img/catalog10.webp" alt="">
                        <span>Аксессуары для ванной комнаты</span>
                    </a>
                    <a href="" class="header-catalog__item">
                        <img src="img/catalog11.webp" alt="">
                        <span>Сантехника для детей</span>
                    </a>
                    <a href="" class="header-catalog__item">
                        <img src="img/catalog12.webp" alt="">
                        <span>Сантехника для людей с ограниченными</span>
                    </a>
                    <a href="" class="header-catalog__item">
                        <img src="img/catalog13.webp" alt="">
                        <span>Готовые комплекты для ванной комнаты</span>
                    </a>
                </div>
            </div>
            <div class="header-catalog__content" data-tab-path="2">
                <div class="header-catalog__grid">
                    <a href="" class="header-catalog__item">
                        <img src="img/catalog.webp" alt="">
                        <span>Ванны</span>
                    </a>
                </div>
            </div>
            <div class="header-catalog__content" data-tab-path="3">
                <div class="header-catalog__grid">
                    <a href="" class="header-catalog__item">
                        <img src="img/catalog8.webp" alt="">
                        <span>Ванны</span>
                    </a>
                </div>
            </div>
            <div class="header-catalog__content" data-tab-path="4">
                <div class="header-catalog__grid">
                    <a href="" class="header-catalog__item">
                        <img src="img/catalog3.webp" alt="">
                        <span>Ванны</span>
                    </a>
                </div>
            </div>
            <div class="header-catalog__content" data-tab-path="5">
                <div class="header-catalog__grid">
                    <a href="" class="header-catalog__item">
                        <img src="img/catalog4.webp" alt="">
                        <span>Ванны</span>
                    </a>
                </div>
            </div>
            <div class="header-catalog__content" data-tab-path="6">
                <div class="header-catalog__grid">
                    <a href="" class="header-catalog__item">
                        <img src="img/catalog5.webp" alt="">
                        <span>Ванны</span>
                    </a>
                </div>
            </div>
            <div class="header-catalog__content" data-tab-path="7">
                <div class="header-catalog__grid">
                    <a href="" class="header-catalog__item">
                        <img src="img/catalog6.webp" alt="">
                        <span>Ванны</span>
                    </a>
                </div>
            </div>
            <div class="header-catalog__content" data-tab-path="8">
                <div class="header-catalog__grid">
                    <a href="" class="header-catalog__item">
                        <img src="img/catalog7.webp" alt="">
                        <span>Ванны</span>
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>