<div class="header-catalog2__content header-catalog2__content--active" data-tab-path="1">
    <div class='container'>
        <div class="header-catalog2__grid">
            <a href="" class="header-catalog__item">
                <img src="img/catalog.webp" alt="">
                <span>Ванны</span>
            </a>
            <a href="" class="header-catalog__item">
                <img src="img/catalog2.webp" alt="">
                <span>Душевые кабины</span>
            </a>
            <a href="" class="header-catalog__item">
                <img src="img/catalog3.webp" alt="">
                <span>Раковины</span>
            </a>
            <a href="" class="header-catalog__item">
                <img src="img/catalog4.webp" alt="">
                <span>Смесители</span>
            </a>
            <a href="" class="header-catalog__item">
                <img src="img/catalog5.webp" alt="">
                <span>Унитазы</span>
            </a>
            <a href="" class="header-catalog__item">
                <img src="img/catalog6.webp" alt="">
                <span>Инсталляции</span>
            </a>
            <a href="" class="header-catalog__item">
                <img src="img/catalog7.webp" alt="">
                <span>Сеты (Унитаз с инсталляцией в комплекте)</span>
            </a>
            <a href="" class="header-catalog__item">
                <img src="img/catalog8.webp" alt="">
                <span>Биде и писсуары</span>
            </a>
            <a href="" class="header-catalog__item">
                <img src="img/catalog9.webp" alt="">
                <span>Мойки для кухни</span>
            </a>
            <a href="" class="header-catalog__item">
                <img src="img/catalog10.webp" alt="">
                <span>Аксессуары для ванной комнаты</span>
            </a>
            <a href="" class="header-catalog__item">
                <img src="img/catalog11.webp" alt="">
                <span>Сантехника для детей</span>
            </a>
            <a href="" class="header-catalog__item">
                <img src="img/catalog12.webp" alt="">
                <span>Сантехника для людей с ограниченными</span>
            </a>
            <a href="" class="header-catalog__item">
                <img src="img/catalog13.webp" alt="">
                <span>Готовые комплекты для ванной комнаты</span>
            </a>
        </div>
    </div>
</div>

<div class="header-catalog2__content" data-tab-path="2">
    <div class='container'>
        <div class="header-catalog2__grid">
            <a href="" class="header-catalog__item">
                <img src="img/catalog.webp" alt="">
                <span>Ванны</span>
            </a>
            <a href="" class="header-catalog__item">
                <img src="img/catalog2.webp" alt="">
                <span>Душевые кабины</span>
            </a>
            <a href="" class="header-catalog__item">
                <img src="img/catalog3.webp" alt="">
                <span>Раковины</span>
            </a>
        </div>
    </div>
</div>

<div class="header-catalog2__content" data-tab-path="3">
    <div class='container'>
        <div class="header-catalog2__grid">
            <a href="" class="header-catalog__item">
                <img src="img/catalog4.webp" alt="">
                <span>Ванны</span>
            </a>
            <a href="" class="header-catalog__item">
                <img src="img/catalog5.webp" alt="">
                <span>Душевые кабины</span>
            </a>
            <a href="" class="header-catalog__item">
                <img src="img/catalog6.webp" alt="">
                <span>Раковины</span>
            </a>
        </div>
    </div>
</div>

<div class="header-catalog2__content" data-tab-path="4">
    <div class='container'>
        <div class="header-catalog2__grid">
            <a href="" class="header-catalog__item">
                <img src="img/catalog7.webp" alt="">
                <span>Ванны</span>
            </a>
            <a href="" class="header-catalog__item">
                <img src="img/catalog8.webp" alt="">
                <span>Душевые кабины</span>
            </a>
            <a href="" class="header-catalog__item">
                <img src="img/catalog6.webp" alt="">
                <span>Раковины</span>
            </a>
        </div>
    </div>
</div>

<div class="header-catalog2__content" data-tab-path="5">
    <div class='container'>
        <div class="header-catalog2__grid">
            <a href="" class="header-catalog__item">
                <img src="img/catalog.webp" alt="">
                <span>Ванны</span>
            </a>
            <a href="" class="header-catalog__item">
                <img src="img/catalog2.webp" alt="">
                <span>Душевые кабины</span>
            </a>
            <a href="" class="header-catalog__item">
                <img src="img/catalog3.webp" alt="">
                <span>Раковины</span>
            </a>
        </div>
    </div>
</div>