<a href="" class="login-modal__socials-item btn btn-grey">
    <img src="img/vk.svg" alt="">
    <span>Вконтакте</span>
</a>
<a href="" class="login-modal__socials-item btn btn-grey">
    <img src="img/ok.svg" alt="">
    <span>Одноклассники</span>
</a>
<a href="" class="login-modal__socials-item btn btn-grey">
    <img src="img/fb.svg" alt="">
    <span>Facebook</span>
</a>
<a href="" class="login-modal__socials-item btn btn-grey">
    <img src="img/google.svg" alt="">
    <span>Google</span>
</a>
<a href="" class="login-modal__socials-item btn btn-grey">
    <img src="img/twitter.svg" alt="">
    <span>Twitter</span>
</a>