<div class='container'>
    <div class="footer__inner">
        <div class="footer-advantages">
            <div class="footer-advantages__item">
                <div class="footer-advantages__item-icon">
                    <img src="img/advantages.svg" alt="">
                </div>
                <div class="footer-advantages__item-title">
                    <h4 class="footer-advantages__item-title">Быстрая доставка</h4>
                    <p class="footer-advantages__item-desc">Доставка по городу Санкт-Петербург или в регионы</p>
                </div>
            </div>
            <div class="footer-advantages__item">
                <div class="footer-advantages__item-icon">
                    <img src="img/advantages2.svg" alt="">
                </div>
                <div class="footer-advantages__item-title">
                    <h4 class="footer-advantages__item-title">Гарантия и обмен</h4>
                    <p class="footer-advantages__item-desc">Официальная гарантия от производителя и обмен товара в течении 14 дней</p>
                </div>
            </div>
            <div class="footer-advantages__item">
                <div class="footer-advantages__item-icon">
                    <img src="img/advantages3.svg" alt="">
                </div>
                <div class="footer-advantages__item-title">
                    <h4 class="footer-advantages__item-title">Оплата</h4>
                    <p class="footer-advantages__item-desc">Оплата товаров доступна наличными или безналичными способами платежа</p>
                </div>
            </div>
        </div>
        <div class='footer__top'>
            <div class="footer__col">
                <a href="index.html" class="footer__logo">
                    <img src="img/logo2.svg" alt="">
                </a>
                <div class="footer__protect">Все права защищены "Сан Саныч" Copyright © 2021</div>
            </div>
            <div class="footer__col">
                <h4 class="footer__title">Компания</h4>
                <div class="footer__links">
                    <a href="" class="footer__link">О компании</a>
                    <a href="" class="footer__link">Новости</a>
                    <a href="" class="footer__link">Сотрудники</a>
                    <a href="" class="footer__link">Услуги</a>
                </div>
            </div>
            <div class="footer__col">
                <h4 class="footer__title">Информация</h4>
                <div class="footer__links">
                    <a href="" class="footer__link">Помощь</a>
                    <a href="" class="footer__link">Условия оплаты</a>
                    <a href="" class="footer__link">Условия доставки</a>
                    <a href="" class="footer__link">Гарантия на товар</a>
                </div>
            </div>
            <div class="footer__col">
                <h4 class="footer__title">Помощь</h4>
                <div class="footer__links">
                    <a href="" class="footer__link">Статьи</a>
                    <a href="" class="footer__link">Вопрос-ответ</a>
                    <a href="" class="footer__link">Производители</a>
                    <a href="" class="footer__link">Обзоры</a>
                </div>
            </div>
            <div class="footer__col">
                <h4 class="footer__title">Магазин</h4>
                <div class="footer__address">
                    <span>
                    г. Санкт-Петербург <br>
                    ул. Ленсовета, д. 22
                </span>
                    <a href="">Список магазинов</a>
                </div>
                <div class="footer__phone">
                    <span>+7 (812) 708-4856</span>
                    <a href="">Обратный звонок</a>
                </div>
            </div>
        </div>
        <div class="footer__bottom">
            <div class="footer__pay">
                <h3 class="footer__pay-title">Способы оплаты</h3>
                <div class="footer__pay-wrap">
                    <div class="footer__pay-item">
                        <img src="img/mastercard.svg" alt="">
                    </div>
                    <div class="footer__pay-item">
                        <img src="img/visa.svg" alt="">
                    </div>
                    <div class="footer__pay-item">
                        <img src="img/mir.svg" alt="">
                    </div>
                    <div class="footer__pay-item">
                        <img src="img/google-pay.svg" alt="">
                    </div>
                    <div class="footer__pay-item">
                        <img src="img/cash.svg" alt="">
                    </div>
                    <div class="footer__pay-item">
                        <img src="img/card-pay.svg" alt="">
                    </div>
                </div>
            </div>
            <div class="footer__socials">
                <h4 class="footer__socials-title">Присоединяйтесь</h4>
                <div class="footer__socials-items">
                    <a href="" class="footer__socials-item">
                        <img src="img/vk2.svg" alt="">
                    </a>
                    <a href="" class="footer__socials-item">
                        <img src="img/ok2.svg" alt="">
                    </a>
                    <a href="" class="footer__socials-item">
                        <img src="img/fb2.svg" alt="">
                    </a>
                    <a href="" class="footer__socials-item">
                        <img src="img/youtube.svg" alt="">
                    </a>
                </div>
                <a href="" class="footer__by">Разработано — Shelter Studio</a>
            </div>
        </div>
    </div>
</div>