h3 {
    margin-bottom: 24px;
}

p,
li {
    font-size: 14px;
    line-height: 140%;
    margin-bottom: 10px;
}

ul {
    &:not(:last-child) {
        margin-bottom: 10px;
    }
    li {
        padding-left: 13px;
        position: relative;
        &:before {
            content: '';
            position: absolute;
            z-index: 1;
            width: 5px;
            height: 5px;
            border-radius: 50%;
            background-color: $black;
            left: 2px;
            top: 7px;
        }
    }
}

ol {
    counter-reset: num;
    li {
        position: relative;
        &:before {
            content: counter(num) ".";
            counter-increment: num;
            position: absolute;
            z-index: 1;
            width: 23px;
            height: 19px;
            left: -27px;
            top: 0;
            font-weight: 600;
        }
    }
}

.display1 {
    font-weight: 600;
    font-size: 48px;
    line-height: 130%;
}

h2,
.display2 {
    font-size: 32px;
    line-height: 123%;
    font-weight: 400;
}

h3,
.display3 {
    font-weight: 600;
    font-size: 24px;
    line-height: 120%;
}

.display4,
h4 {
    font-weight: 500;
    font-size: 20px;
    line-height: 120%;
}

@media screen and (max-width: 1240px) {
    .display1 {
        font-size: 36px;
    }
}

@media screen and (max-width: 768px) {
    .display1 {
        font-size: 28px;
    }
    h2,
    .display2 {
        font-size: 24px;
    }
    h3 {
        margin-bottom: 12px;
    }
}

@media screen and (max-width:450px) {
    p {
        &:not(:last-child) {
            margin-bottom: 5px;
        }
    }
    h3,
    .display3 {
        font-size: 20px;
    }
}