<div class="product-variants">
    <h3 class="display3">Установка товара</h3>

    <div class="product-variants__table">
        <table>
            <thead>
                <tr>
                    <th>Товар</th>
                    <th>Размер</th>
                    <th>Наличие</th>
                    <th>Цена</th>
                    <th>Добавить в</th>
                    <th>Количество</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>
                        <div class="product-variants__info">
                            <a href="" class="product-variants__img">
                                <img src="img/card2.webp" alt="">
                            </a>
                            <div class="product-variants__info-right">
                                <a href="" class="product-variants__title">Кран шаровый со сгоном Tiemme Buran 3/4" (черная бабочка) (2450005)</a>
                                <div class="product-variants__info-bottom">
                                    <div class="product-variants__code">
                                        <span>21862</span>
                                        <svg width="12" height="12" viewBox="0 0 12 12" fill="none" xmlns="http://www.w3.org/2000/svg">
                                            <path d="M10 4.5H5.5C4.94772 4.5 4.5 4.94772 4.5 5.5V10C4.5 10.5523 4.94772 11 5.5 11H10C10.5523 11 11 10.5523 11 10V5.5C11 4.94772 10.5523 4.5 10 4.5Z" stroke="#AAAAAA" stroke-linecap="round" stroke-linejoin="round"/>
                                            <path d="M2.5 7.5H2C1.73478 7.5 1.48043 7.39464 1.29289 7.20711C1.10536 7.01957 1 6.76522 1 6.5V2C1 1.73478 1.10536 1.48043 1.29289 1.29289C1.48043 1.10536 1.73478 1 2 1H6.5C6.76522 1 7.01957 1.10536 7.20711 1.29289C7.39464 1.48043 7.5 1.73478 7.5 2V2.5" stroke="#AAAAAA" stroke-linecap="round" stroke-linejoin="round"/>
                                        </svg>
                                    </div>
                                    <span class="product-variants__current">Текущий товар</span>
                                </div>
                            </div>
                        </div>
                    </td>
                    <td>
                        <div class="product-variants__sizes">
                            <div class="product-variants__sizes-wrap">
                                1/2" / 3/4"
                            </div>
                        </div>
                    </td>
                    <td>
                        <div class="product-variants__status">
                            <img src="img/has.svg" alt="">
                            <span>В наличии</span>
                        </div>
                    </td>
                    <td>
                        <div class="product-variants__prices">
                            <div class="product-variants__prices-left">
                                <div class="product-variants__price  product-variants__price--red ">
                                    7610 ₽
                                </div>
                            </div>
                            <div class="product-variants__prices-right">
                                <span class="product-variants__price-percent">–20%</span>
                                <span class="product-variants__price-value">/ шт</span>
                            </div>
                        </div>
                    </td>
                    <td>
                        <div class="product-variants__buttons">
                            <button class="catalog-card__favourite btn"></button>
                            <button class="catalog-card__stat btn">
                                <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                                <path d="M3 14C3 13.4477 3.44772 13 4 13C4.55228 13 5 13.4477 5 14V19C5 19.5523 4.55228 20 4 20C3.44772 20 3 19.5523 3 19V14Z" fill="#AAAAAA"></path>
                                <path d="M7 5C7 4.44772 7.44772 4 8 4C8.55228 4 9 4.44772 9 5V19C9 19.5523 8.55228 20 8 20C7.44772 20 7 19.5523 7 19V5Z" fill="#AAAAAA"></path>
                                <path d="M11 10C11 9.44771 11.4477 9 12 9C12.5523 9 13 9.44772 13 10V19C13 19.5523 12.5523 20 12 20C11.4477 20 11 19.5523 11 19V10Z" fill="#AAAAAA"></path>
                                <path d="M15 3C15 2.44772 15.4477 2 16 2C16.5523 2 17 2.44772 17 3V19C17 19.5523 16.5523 20 16 20C15.4477 20 15 19.5523 15 19V3Z" fill="#AAAAAA"></path>
                                <path d="M19 11C19 10.4477 19.4477 10 20 10C20.5523 10 21 10.4477 21 11V19C21 19.5523 20.5523 20 20 20C19.4477 20 19 19.5523 19 19V11Z" fill="#AAAAAA"></path>
                            </svg>
                            </button>
                        </div>
                    </td>
                    <td>
                        <div class="product-variants__action">
                            <div class="product-variants__calc cartcalc">
                                <button class="ccalc-minus ccalc-minus--disable">
                                    <svg width="16" height="4" viewBox="0 0 16 4" fill="none" xmlns="http://www.w3.org/2000/svg">
                                        <path d="M2 2H14" stroke="#FF6C00" stroke-width="2.5" stroke-linecap="round" stroke-linejoin="round"></path>
                                    </svg>
                                </button>
                                <input type="text" value="1">
                                <button class="ccalc-plus">
                                    <svg width="16" height="16" viewBox="0 0 16 16" fill="none" xmlns="http://www.w3.org/2000/svg">
                                        <path d="M8 14V2M14 8L2 8" stroke="#FF6C00" stroke-width="2.5" stroke-linecap="round" stroke-linejoin="round"></path>
                                    </svg>
                                </button>
                            </div>
                            <button class="catalog-card__cart btn">
                                <span class="catalog-card__cart-load spinner-border" role="status">
                                    <span class="sr-only"></span>
                                </span>
                            </button>
                        </div>
                    </td>
                </tr>
                <tr>
                    <td>
                        <div class="product-variants__info">
                            <a href="" class="product-variants__img">
                                <img src="img/card2.webp" alt="">
                            </a>
                            <div class="product-variants__info-right">
                                <a href="" class="product-variants__title">Кран шаровый со сгоном Tiemme Buran 3/4" (черная бабочка) (2450005)</a>
                                <div class="product-variants__info-bottom">
                                    <div class="product-variants__code">
                                        <span>21862</span>
                                        <svg width="12" height="12" viewBox="0 0 12 12" fill="none" xmlns="http://www.w3.org/2000/svg">
                                            <path d="M10 4.5H5.5C4.94772 4.5 4.5 4.94772 4.5 5.5V10C4.5 10.5523 4.94772 11 5.5 11H10C10.5523 11 11 10.5523 11 10V5.5C11 4.94772 10.5523 4.5 10 4.5Z" stroke="#AAAAAA" stroke-linecap="round" stroke-linejoin="round"/>
                                            <path d="M2.5 7.5H2C1.73478 7.5 1.48043 7.39464 1.29289 7.20711C1.10536 7.01957 1 6.76522 1 6.5V2C1 1.73478 1.10536 1.48043 1.29289 1.29289C1.48043 1.10536 1.73478 1 2 1H6.5C6.76522 1 7.01957 1.10536 7.20711 1.29289C7.39464 1.48043 7.5 1.73478 7.5 2V2.5" stroke="#AAAAAA" stroke-linecap="round" stroke-linejoin="round"/>
                                        </svg>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </td>
                    <td>
                        <div class="product-variants__sizes">
                            <div class="product-variants__sizes-wrap">
                                1"
                            </div>
                        </div>
                    </td>
                    <td>
                        <div class="product-variants__status">
                            <img src="img/has.svg" alt="">
                            <span>В наличии</span>
                        </div>
                    </td>
                    <td>
                        <div class="product-variants__prices">
                            <div class="product-variants__prices-left">
                                <div class="product-variants__price  product-variants__price--red ">
                                    7610 ₽
                                </div>
                            </div>
                            <div class="product-variants__prices-right">
                                <span class="product-variants__price-percent">–20%</span>
                                <span class="product-variants__price-value">/ шт</span>
                            </div>
                        </div>
                    </td>
                    <td>
                        <div class="product-variants__buttons">
                            <button class="catalog-card__favourite btn"></button>
                            <button class="catalog-card__stat btn">
                                <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                                <path d="M3 14C3 13.4477 3.44772 13 4 13C4.55228 13 5 13.4477 5 14V19C5 19.5523 4.55228 20 4 20C3.44772 20 3 19.5523 3 19V14Z" fill="#AAAAAA"></path>
                                <path d="M7 5C7 4.44772 7.44772 4 8 4C8.55228 4 9 4.44772 9 5V19C9 19.5523 8.55228 20 8 20C7.44772 20 7 19.5523 7 19V5Z" fill="#AAAAAA"></path>
                                <path d="M11 10C11 9.44771 11.4477 9 12 9C12.5523 9 13 9.44772 13 10V19C13 19.5523 12.5523 20 12 20C11.4477 20 11 19.5523 11 19V10Z" fill="#AAAAAA"></path>
                                <path d="M15 3C15 2.44772 15.4477 2 16 2C16.5523 2 17 2.44772 17 3V19C17 19.5523 16.5523 20 16 20C15.4477 20 15 19.5523 15 19V3Z" fill="#AAAAAA"></path>
                                <path d="M19 11C19 10.4477 19.4477 10 20 10C20.5523 10 21 10.4477 21 11V19C21 19.5523 20.5523 20 20 20C19.4477 20 19 19.5523 19 19V11Z" fill="#AAAAAA"></path>
                            </svg>
                            </button>
                        </div>
                    </td>
                    <td>
                        <div class="product-variants__action">
                            <div class="product-variants__calc cartcalc">
                                <button class="ccalc-minus ccalc-minus--disable">
                                    <svg width="16" height="4" viewBox="0 0 16 4" fill="none" xmlns="http://www.w3.org/2000/svg">
                                        <path d="M2 2H14" stroke="#FF6C00" stroke-width="2.5" stroke-linecap="round" stroke-linejoin="round"></path>
                                    </svg>
                                </button>
                                <input type="text" value="1">
                                <button class="ccalc-plus">
                                    <svg width="16" height="16" viewBox="0 0 16 16" fill="none" xmlns="http://www.w3.org/2000/svg">
                                        <path d="M8 14V2M14 8L2 8" stroke="#FF6C00" stroke-width="2.5" stroke-linecap="round" stroke-linejoin="round"></path>
                                    </svg>
                                </button>
                            </div>
                            <button class="catalog-card__cart btn">
                                <span class="catalog-card__cart-load spinner-border" role="status">
                                    <span class="sr-only"></span>
                                </span>
                            </button>
                        </div>
                    </td>
                </tr>
                <tr>
                    <td>
                        <div class="product-variants__info">
                            <a href="" class="product-variants__img">
                                <img src="img/card2.webp" alt="">
                            </a>
                            <div class="product-variants__info-right">
                                <a href="" class="product-variants__title">Кран шаровый со сгоном Tiemme Buran 3/4" (черная бабочка) (2450005)</a>
                                <div class="product-variants__info-bottom">
                                    <div class="product-variants__code">
                                        <span>21862</span>
                                        <svg width="12" height="12" viewBox="0 0 12 12" fill="none" xmlns="http://www.w3.org/2000/svg">
                                            <path d="M10 4.5H5.5C4.94772 4.5 4.5 4.94772 4.5 5.5V10C4.5 10.5523 4.94772 11 5.5 11H10C10.5523 11 11 10.5523 11 10V5.5C11 4.94772 10.5523 4.5 10 4.5Z" stroke="#AAAAAA" stroke-linecap="round" stroke-linejoin="round"/>
                                            <path d="M2.5 7.5H2C1.73478 7.5 1.48043 7.39464 1.29289 7.20711C1.10536 7.01957 1 6.76522 1 6.5V2C1 1.73478 1.10536 1.48043 1.29289 1.29289C1.48043 1.10536 1.73478 1 2 1H6.5C6.76522 1 7.01957 1.10536 7.20711 1.29289C7.39464 1.48043 7.5 1.73478 7.5 2V2.5" stroke="#AAAAAA" stroke-linecap="round" stroke-linejoin="round"/>
                                        </svg>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </td>
                    <td>
                        <div class="product-variants__sizes">
                            <div class="product-variants__sizes-wrap">
                                1/2"
                            </div>
                        </div>
                    </td>
                    <td>
                        <div class="product-variants__status">
                            <img src="img/has.svg" alt="">
                            <span>В наличии</span>
                        </div>
                    </td>
                    <td>
                        <div class="product-variants__prices">
                            <div class="product-variants__prices-left">
                                <div class="product-variants__price  product-variants__price--red ">
                                    7610 ₽
                                </div>
                            </div>
                            <div class="product-variants__prices-right">
                                <span class="product-variants__price-percent">–20%</span>
                                <span class="product-variants__price-value">/ шт</span>
                            </div>
                        </div>
                    </td>
                    <td>
                        <div class="product-variants__buttons">
                            <button class="catalog-card__favourite btn"></button>
                            <button class="catalog-card__stat btn">
                                <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                                <path d="M3 14C3 13.4477 3.44772 13 4 13C4.55228 13 5 13.4477 5 14V19C5 19.5523 4.55228 20 4 20C3.44772 20 3 19.5523 3 19V14Z" fill="#AAAAAA"></path>
                                <path d="M7 5C7 4.44772 7.44772 4 8 4C8.55228 4 9 4.44772 9 5V19C9 19.5523 8.55228 20 8 20C7.44772 20 7 19.5523 7 19V5Z" fill="#AAAAAA"></path>
                                <path d="M11 10C11 9.44771 11.4477 9 12 9C12.5523 9 13 9.44772 13 10V19C13 19.5523 12.5523 20 12 20C11.4477 20 11 19.5523 11 19V10Z" fill="#AAAAAA"></path>
                                <path d="M15 3C15 2.44772 15.4477 2 16 2C16.5523 2 17 2.44772 17 3V19C17 19.5523 16.5523 20 16 20C15.4477 20 15 19.5523 15 19V3Z" fill="#AAAAAA"></path>
                                <path d="M19 11C19 10.4477 19.4477 10 20 10C20.5523 10 21 10.4477 21 11V19C21 19.5523 20.5523 20 20 20C19.4477 20 19 19.5523 19 19V11Z" fill="#AAAAAA"></path>
                            </svg>
                            </button>
                        </div>
                    </td>
                    <td>
                        <div class="product-variants__action">
                            <div class="product-variants__calc cartcalc">
                                <button class="ccalc-minus ccalc-minus--disable">
                                    <svg width="16" height="4" viewBox="0 0 16 4" fill="none" xmlns="http://www.w3.org/2000/svg">
                                        <path d="M2 2H14" stroke="#FF6C00" stroke-width="2.5" stroke-linecap="round" stroke-linejoin="round"></path>
                                    </svg>
                                </button>
                                <input type="text" value="1">
                                <button class="ccalc-plus">
                                    <svg width="16" height="16" viewBox="0 0 16 16" fill="none" xmlns="http://www.w3.org/2000/svg">
                                        <path d="M8 14V2M14 8L2 8" stroke="#FF6C00" stroke-width="2.5" stroke-linecap="round" stroke-linejoin="round"></path>
                                    </svg>
                                </button>
                            </div>
                            <button class="catalog-card__cart btn">
                                <span class="catalog-card__cart-load spinner-border" role="status">
                                    <span class="sr-only"></span>
                                </span>
                            </button>
                        </div>
                    </td>
                </tr>
                <tr>
                    <td>
                        <div class="product-variants__info">
                            <a href="" class="product-variants__img">
                                <img src="img/card2.webp" alt="">
                            </a>
                            <div class="product-variants__info-right">
                                <a href="" class="product-variants__title">Кран шаровый со сгоном Tiemme Buran 3/4" (черная бабочка) (2450005)</a>
                                <div class="product-variants__info-bottom">
                                    <div class="product-variants__code">
                                        <span>21862</span>
                                        <svg width="12" height="12" viewBox="0 0 12 12" fill="none" xmlns="http://www.w3.org/2000/svg">
                                            <path d="M10 4.5H5.5C4.94772 4.5 4.5 4.94772 4.5 5.5V10C4.5 10.5523 4.94772 11 5.5 11H10C10.5523 11 11 10.5523 11 10V5.5C11 4.94772 10.5523 4.5 10 4.5Z" stroke="#AAAAAA" stroke-linecap="round" stroke-linejoin="round"/>
                                            <path d="M2.5 7.5H2C1.73478 7.5 1.48043 7.39464 1.29289 7.20711C1.10536 7.01957 1 6.76522 1 6.5V2C1 1.73478 1.10536 1.48043 1.29289 1.29289C1.48043 1.10536 1.73478 1 2 1H6.5C6.76522 1 7.01957 1.10536 7.20711 1.29289C7.39464 1.48043 7.5 1.73478 7.5 2V2.5" stroke="#AAAAAA" stroke-linecap="round" stroke-linejoin="round"/>
                                        </svg>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </td>
                    <td>
                        <div class="product-variants__sizes">
                            <div class="product-variants__sizes-wrap">
                                1/2" / 3/4"
                            </div>
                        </div>
                    </td>
                    <td>
                        <div class="product-variants__status">
                            <img src="img/has.svg" alt="">
                            <span>В наличии</span>
                        </div>
                    </td>
                    <td>
                        <div class="product-variants__prices">
                            <div class="product-variants__prices-left">
                                <div class="product-variants__price  product-variants__price--red ">
                                    7610 ₽
                                </div>
                            </div>
                            <div class="product-variants__prices-right">
                                <span class="product-variants__price-percent">–20%</span>
                                <span class="product-variants__price-value">/ шт</span>
                            </div>
                        </div>
                    </td>
                    <td>
                        <div class="product-variants__buttons">
                            <button class="catalog-card__favourite btn"></button>
                            <button class="catalog-card__stat btn">
                                <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                                <path d="M3 14C3 13.4477 3.44772 13 4 13C4.55228 13 5 13.4477 5 14V19C5 19.5523 4.55228 20 4 20C3.44772 20 3 19.5523 3 19V14Z" fill="#AAAAAA"></path>
                                <path d="M7 5C7 4.44772 7.44772 4 8 4C8.55228 4 9 4.44772 9 5V19C9 19.5523 8.55228 20 8 20C7.44772 20 7 19.5523 7 19V5Z" fill="#AAAAAA"></path>
                                <path d="M11 10C11 9.44771 11.4477 9 12 9C12.5523 9 13 9.44772 13 10V19C13 19.5523 12.5523 20 12 20C11.4477 20 11 19.5523 11 19V10Z" fill="#AAAAAA"></path>
                                <path d="M15 3C15 2.44772 15.4477 2 16 2C16.5523 2 17 2.44772 17 3V19C17 19.5523 16.5523 20 16 20C15.4477 20 15 19.5523 15 19V3Z" fill="#AAAAAA"></path>
                                <path d="M19 11C19 10.4477 19.4477 10 20 10C20.5523 10 21 10.4477 21 11V19C21 19.5523 20.5523 20 20 20C19.4477 20 19 19.5523 19 19V11Z" fill="#AAAAAA"></path>
                            </svg>
                            </button>
                        </div>
                    </td>
                    <td>
                        <div class="product-variants__action">
                            <div class="product-variants__calc cartcalc">
                                <button class="ccalc-minus ccalc-minus--disable">
                                    <svg width="16" height="4" viewBox="0 0 16 4" fill="none" xmlns="http://www.w3.org/2000/svg">
                                        <path d="M2 2H14" stroke="#FF6C00" stroke-width="2.5" stroke-linecap="round" stroke-linejoin="round"></path>
                                    </svg>
                                </button>
                                <input type="text" value="1">
                                <button class="ccalc-plus">
                                    <svg width="16" height="16" viewBox="0 0 16 16" fill="none" xmlns="http://www.w3.org/2000/svg">
                                        <path d="M8 14V2M14 8L2 8" stroke="#FF6C00" stroke-width="2.5" stroke-linecap="round" stroke-linejoin="round"></path>
                                    </svg>
                                </button>
                            </div>
                            <button class="catalog-card__cart btn">
                                <span class="catalog-card__cart-load spinner-border" role="status">
                                    <span class="sr-only"></span>
                                </span>
                            </button>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>