<div class="product-docs">
    <div class="product-docs__left">
        <h3 class="product-docs__title display3">Документация</h3>
        <div class="product-docs__items">
            <a href="" class="product-docs__item">
                <div class="product-docs__item-icon">
                    <img src="img/pdf.svg" alt="">
                </div>
                <div class="product-docs__item-content">
                    <div class="product-docs__item-title">Каталог систем контроля протечки воды</div>
                    <div class="product-docs__item-size">Размер: 6.1 Мб</div>
                </div>
            </a>
            <a href="" class="product-docs__item">
                <div class="product-docs__item-icon">
                    <img src="img/pdf.svg" alt="">
                </div>
                <div class="product-docs__item-content">
                    <div class="product-docs__item-title">Инструкция по подключению</div>
                    <div class="product-docs__item-size">Размер: 2.5 Мб</div>
                </div>
            </a>
        </div>
    </div>
    <div class="product-docs__right">
        @@include('_product-preview-card.html')
    </div>
</div>