<div class="product-desc">
    <div class="product-desc__left">
        <h3 class="product-desc__title">Установка товара</h3>
        <div class="product-desc__desc">
            <p>Место монтажа должно быть удобным и достаточно свободным, чтобы в процессе работы вас не ограничивали никакие внешние факторы.</p>
            <p>Важно, чтобы место установки шарового крана не препятствовало повороту его ручки. Множество кранов имеют два варианта управления: посредством ручки-бабочки (короткая) и ручки-рычага (длинная). Здесь также существует ряд нюансов. На горизонтальных
                магистралях краны монтируются ручкой вверх с допустимым уклоном в диапазоне 45 градусов. Что касается вертикальных систем, положение ручки в таком случае не имеет значения.</p>
            <p>Снова обратитесь к условным обозначениям на корпусе крана. На некоторых изделиях указательной стрелкой обозначено направление рабочего потока, то есть направление потока рабочего вещества. Из этого также следует, с какой стороны должна быть
                резьба по движению жидкости или газа. Кранам, на которых данный указатель присутствует, надлежит монтаж строго по направлению, а для тех, у которых таких обозначений нет, любое положение одинаково возможно.</p>
        </div>
    </div>
    <div class="product-desc__right">
        @@include('_product-preview-card.html')
    </div>
</div>