<div class="product-property">
    <div class="product-property__left">
        <h3 class="product-property__title">Характеристики</h3>
        <div class="product-property__table">
            <div class="product-property__table-item">
                <span class="product-property__table-title">Код:</span>
                <span class="product-property__table-desc">22283</span>
            </div>
            <div class="product-property__table-item">
                <span class="product-property__table-title">Тип фитинга:</span>
                <span class="product-property__table-desc">Кран шаровый со сгоном</span>
            </div>
            <div class="product-property__table-item">
                <span class="product-property__table-title">Бренд:</span>
                <span class="product-property__table-desc">TIEMME</span>
            </div>
            <div class="product-property__table-item">
                <span class="product-property__table-title">Размер:</span>
                <span class="product-property__table-desc">3/4" </span>
            </div>
            <div class="product-property__table-item">
                <span class="product-property__table-title">Рабочее давление (бар):</span>
                <span class="product-property__table-desc">Неагрессивные жидкости и сжатый воздух</span>
            </div>
            <div class="product-property__table-item">
                <span class="product-property__table-title">Материал:</span>
                <span class="product-property__table-desc">Латунь CW617N</span>
            </div>
            <div class="product-property__table-item">
                <span class="product-property__table-title">Рабочая среда:</span>
                <span class="product-property__table-desc">Неагрессивные жидкости и сжатый воздух</span>
            </div>
            <div class="product-property__table-item">
                <span class="product-property__table-title">Резьба:</span>
                <span class="product-property__table-desc">Внутренняя/наружная</span>
            </div>
            <div class="product-property__table-item">
                <span class="product-property__table-title">Страна:</span>
                <span class="product-property__table-desc">Италия</span>
            </div>
            <div class="product-property__table-item">
                <span class="product-property__table-title">Гарантия производителя:</span>
                <span class="product-property__table-desc">24 мес.</span>
            </div>
            <div class="product-property__table-item">
                <span class="product-property__table-title">Тип соединения:</span>
                <span class="product-property__table-desc">Резьба</span>
            </div>
            <div class="product-property__table-item">
                <span class="product-property__table-title">Вид:</span>
                <span class="product-property__table-desc">Запорная арматура для воды (резьба)</span>
            </div>
            <div class="product-property__table-item">
                <span class="product-property__table-title">Артикул:</span>
                <span class="product-property__table-desc">2450005 / 2472N</span>
            </div>
        </div>
    </div>
    <div class="product-property__right">
        @@include('_product-preview-card.html')
    </div>
</div>