<div class="product-desc">
    <div class="product-desc__left">
        <h3 class="product-desc__title display3">Описание товара</h3>
        <div class="product-desc__desc">
            <p>Кран шаровый со сгоном Tiemme Buran 3/4" (черная бабочка) (2450005) / Кран шаровой BURAN ремонтопригодный, резьбы Вн-Нар (с накидной гайкой) по ISO228, “бабочка” из алюминия черного цвета (Art. 2472N)</p>
            <p>
                Назначение: <br> Предназначен для быстрого и многократного перекрытия потока жидкости в системах отопления, горячего и холодного водоснабжения, использования в системах кондиционирования, газов и сжатого воздуха. Применяется в домашних,
                так и в промышленных условиях.
            </p>
        </div>
    </div>
    <div class="product-desc__right">
        @@include('_product-preview-card.html')
    </div>
</div>