<div class="product">
    <div class="product__left">
        <div class="product__gallery">
            <div class="product__gallery-small">
                <div class="swiper-button-prev btn">
                    <svg width="16" height="9" viewBox="0 0 16 9" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path d="M15 8L8 1L1 8" stroke="#FFC499" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                </svg>
                </div>
                <div thumbsSlider="" class="swiper mySwiper">
                    <div class="swiper-wrapper">
                        <div class="swiper-slide">
                            <img src="img/gallery.webp" />
                        </div>
                        <div class="swiper-slide">
                            <img src="img/gallery.webp" />
                        </div>
                        <div class="swiper-slide">
                            <img src="img/gallery.webp" />
                        </div>
                        <div class="swiper-slide">
                            <img src="img/gallery.webp" />
                        </div>
                        <div class="swiper-slide">
                            <img src="img/gallery.webp" />
                        </div>
                        <div class="swiper-slide">
                            <img src="img/gallery.webp" />
                        </div>
                    </div>
                </div>
                <div class="swiper-button-next btn">
                    <svg width="16" height="9" viewBox="0 0 16 9" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path d="M15 1L8 8L1 1" stroke="#FF6C00" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                </svg>
                </div>
            </div>
            <div class="product__gallery-big">
                <div class="swiper mySwiper2">
                    <div class="swiper-wrapper">
                        <div class="swiper-slide">
                            <img src="img/gallery.webp" />
                        </div>
                        <div class="swiper-slide">
                            <img src="img/gallery.webp" />
                        </div>
                        <div class="swiper-slide">
                            <img src="img/gallery.webp" />
                        </div>
                        <div class="swiper-slide">
                            <img src="img/gallery.webp" />
                        </div>
                        <div class="swiper-slide">
                            <img src="img/gallery.webp" />
                        </div>
                        <div class="swiper-slide">
                            <img src="img/gallery.webp" />
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>

    <div class="product__right">
        <a href="" class="product__banner banner">
            <img src="img/banner4.webp" alt="">
        </a>

        <div class="product__wrap">
            <div class="product__wrap-left">
                <div class="product__group">
                    <p class="product__group-title">Размеры:</p>
                    <div class="product__group-wrap">
                        <div class="product__group-radio">
                            <input type='radio' class='radio' id='size1' name='size' />
                            <label for='size1'>1"</label>
                        </div>
                        <div class="product__group-radio">
                            <input checked type='radio' class='radio' id='size2' name='size' />
                            <label for='size2'>1/2" / 3/4"</label>
                        </div>
                        <div class="product__group-radio">
                            <input type='radio' class='radio' id='size3' name='size' />
                            <label for='size3'>1/2"</label>
                        </div>
                        <div class="product__group-radio">
                            <input type='radio' class='radio' id='size4' name='size' />
                            <label for='size4'>1/4"</label>
                        </div>
                        <div class="product__group-radio">
                            <input type='radio' class='radio' id='size5' name='size' />
                            <label for='size5'>1/2" / 3/4"</label>
                        </div>
                        <div class="product__group-radio">
                            <input type='radio' class='radio' id='size6' name='size' />
                            <label for='size6'>3"</label>
                        </div>
                        <div class="product__group-radio">
                            <input type='radio' class='radio' id='size7' name='size' />
                            <label for='size7'>3/2"</label>
                        </div>
                        <div class="product__group-radio">
                            <input type='radio' class='radio' id='size8' name='size' />
                            <label for='size8'>3/4"</label>
                        </div>
                        <div class="product__group-radio">
                            <input type='radio' class='radio' id='size9' name='size' />
                            <label for='size9'>2/4"</label>
                        </div>
                        <div class="product__group-radio product__group-radio--hidden">
                            <input type='radio' class='radio' id='size10' name='size' />
                            <label for='size10'>2/4"</label>
                        </div>
                        <div class="product__group-radio product__group-radio--hidden">
                            <input type='radio' class='radio' id='size11' name='size' />
                            <label for='size11'>2/4"</label>
                        </div>
                        <button class="product__group-all btn text-btn">Все размеры</button>
                    </div>
                </div>
                <div class="product__group">
                    <p class="product__group-title">Тип:</p>
                    <div class="product__group-wrap">
                        <div class="product__group-radio">
                            <input type='radio' class='radio' id='type1' name='type' />
                            <label for='type1'>Без сгона</label>
                        </div>
                        <div class="product__group-radio">
                            <input checked type='radio' class='radio' id='type2' name='type' />
                            <label for='type2'>Со сгоном</label>
                        </div>
                    </div>
                </div>
                <div class="product__property">
                    <div class="product__property-item">
                        <span class="product__property-title">Тип фитинга:</span>
                        <span class="product__property-desc">Латунь CW617N</span>
                    </div>
                    <div class="product__property-item">
                        <span class="product__property-title">Бренд:</span>
                        <span class="product__property-desc">TIEMME</span>
                    </div>
                    <div class="product__property-item">
                        <span class="product__property-title">Размер:</span>
                        <span class="product__property-desc">3/4"</span>
                    </div>
                    <div class="product__property-item">
                        <span class="product__property-title">Рабочее давление (бар):</span>
                        <span class="product__property-desc">Кран шаровый со сгоном</span>
                    </div>
                    <div class="product__property-item">
                        <span class="product__property-title">Материал:</span>
                        <span class="product__property-desc">Латунь CW617N</span>
                    </div>
                    <div class="product__property-item">
                        <span class="product__property-title">Рабочая среда:</span>
                        <span class="product__property-desc">Неагрессивные жидкос...</span>
                    </div>
                    <div class="product__property-item">
                        <span class="product__property-title">Тип:</span>
                        <span class="product__property-desc">Американка</span>
                    </div>
                    <div class="product__property-item">
                        <span class="product__property-title">Резьба:</span>
                        <span class="product__property-desc">Внутренняя/наружная</span>
                    </div>
                    <div class="product__property-item product__property-item--hidden">
                        <span class="product__property-title">Резьба:</span>
                        <span class="product__property-desc">Внутренняя/наружная</span>
                    </div>
                    <div class="product__property-item product__property-item--hidden">
                        <span class="product__property-title">Резьба:</span>
                        <span class="product__property-desc">Внутренняя/наружная</span>
                    </div>
                    <button class="product__property-all btn text-btn">Все характеристики</button>
                </div>
                <div class="product__info">
                    <div class="product__info-row">
                        <a class="text-btn" href="">Гарантия, обмен, возврат</a>
                        <span class="product__info-split">•</span>
                        <a class="text-btn" href="">Способы оплаты</a>
                    </div>
                    <div class="product__info-row">
                        <a class="text-btn" href="">Условия доставки</a>
                        <span class="product__info-split">•</span>
                        <a class="text-btn" href="">Продажа юридическим лицам</a>
                    </div>
                </div>
            </div>
            <div class="product__wrap-right">
                <div class="product-preview">
                    <div class="product-preview__info">
                        <div class="product-preview__prices">
                            <div class="product-preview__price-old">
                                <span>33 414</span>
                                <span class="product-preview__price-sale">–20%</span>
                            </div>
                            <div class="product-preview__price product-preview__price--sale">
                                23 390 ₽
                                <span>/ шт</span>
                            </div>
                        </div>
                        <div class="product-preview__status">
                            <img src="img/has.svg" alt="">
                            <span>В наличии</span>
                        </div>
                    </div>
                    <button class="product-preview__btn btn">
                    <span class="product-preview__btn-show">Купить</span>
                    <span class="product-preview__btn-hide">В корзине</span>
                </button>
                    <div class="product-preview__nav">
                        <button class="product-preview__nav-btn product-preview__favourite">
                            <i></i>
                            <span>В избранное</span>
                        </button>
                        <button class="product-preview__nav-btn product-preview__comprasion">
                            <i>
                                <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                                    <path d="M3.05469 14.2594C3.05469 13.6969 3.5107 13.2409 4.07321 13.2409C4.63572 13.2409 5.09173 13.6969 5.09173 14.2594V19.352C5.09173 19.9145 4.63572 20.3705 4.07321 20.3705C3.5107 20.3705 3.05469 19.9145 3.05469 19.352V14.2594Z" fill="#aaa"/>
                                    <path d="M7.12878 5.09268C7.12878 4.53016 7.58478 4.07415 8.1473 4.07415C8.70981 4.07415 9.16582 4.53016 9.16582 5.09268V19.352C9.16582 19.9145 8.70981 20.3705 8.1473 20.3705C7.58478 20.3705 7.12878 19.9145 7.12878 19.352V5.09268Z" fill="#aaa"/>
                                    <path d="M11.2029 10.1853C11.2029 9.62277 11.6589 9.16676 12.2214 9.16676C12.7839 9.16676 13.2399 9.62277 13.2399 10.1853V19.352C13.2399 19.9145 12.7839 20.3705 12.2214 20.3705C11.6589 20.3705 11.2029 19.9145 11.2029 19.352V10.1853Z" fill="#aaa"/>
                                    <path d="M15.277 3.05563C15.277 2.49312 15.733 2.03711 16.2955 2.03711C16.858 2.03711 17.314 2.49312 17.314 3.05563V19.352C17.314 19.9145 16.858 20.3705 16.2955 20.3705C15.733 20.3705 15.277 19.9145 15.277 19.352V3.05563Z" fill="#aaa"/>
                                    <path d="M19.351 11.2038C19.351 10.6413 19.807 10.1853 20.3696 10.1853C20.9321 10.1853 21.3881 10.6413 21.3881 11.2038V19.352C21.3881 19.9145 20.9321 20.3705 20.3696 20.3705C19.807 20.3705 19.351 19.9145 19.351 19.352V11.2038Z" fill="#aaa"/>
                                </svg>
                            </i>
                            <span>Сравнить</span>
                        </button>
                        <button class="product-preview__nav-btn">
                        <i>
                            <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                                <g clip-path="url(#clip0_2905_17511)">
                                <path d="M9 22C9.55228 22 10 21.5523 10 21C10 20.4477 9.55228 20 9 20C8.44772 20 8 20.4477 8 21C8 21.5523 8.44772 22 9 22Z" stroke="#FF6C00" stroke-width="2.03704" stroke-linecap="round" stroke-linejoin="round"/>
                                <path d="M20 22C20.5523 22 21 21.5523 21 21C21 20.4477 20.5523 20 20 20C19.4477 20 19 20.4477 19 21C19 21.5523 19.4477 22 20 22Z" stroke="#FF6C00" stroke-width="2.03704" stroke-linecap="round" stroke-linejoin="round"/>
                                <path d="M1 1H5L7.68 14.39C7.77144 14.8504 8.02191 15.264 8.38755 15.5583C8.75318 15.8526 9.2107 16.009 9.68 16H19.4C19.8693 16.009 20.3268 15.8526 20.6925 15.5583C21.0581 15.264 21.3086 14.8504 21.4 14.39L23 6H6" stroke="#FF6C00" stroke-width="2.03704" stroke-linecap="round" stroke-linejoin="round"/>
                                </g>
                                <defs>
                                <clipPath id="clip0_2905_17511">
                                <rect width="24" height="24" fill="white"/>
                                </clipPath>
                                </defs>
                            </svg>
                        </i>
                        <span>Быстрый заказ</span>
                    </button>
                    </div>
                    <a href="" class="product-preview__hint text-btn">Нашли дешевле? Получите скидку</a>
                </div>

                <div class="product-delivery">
                    <p class="product-delivery__title">
                        Доставка в <span>Санкт-Петербург</span>
                    </p>
                    <table class="product-delivery__address">
                        <thead>
                            <tr>
                                <th>Самовывоз </th>
                                <th>
                                    <div class="product-delivery__address-free">бесплатно</div>
                                </th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>
                                    <span class="product-delivery__street">ул. Ленсовета, 22</span>
                                </td>
                                <td>22 шт.</td>
                            </tr>
                            <tr>
                                <td>
                                    <span class="product-delivery__street">ул. Луначарского, 5</span>
                                </td>
                                <td>1 шт.</td>
                            </tr>
                            <tr>
                                <td>
                                    <span class="product-delivery__street">ул. Таллинская, 7</span>
                                </td>
                                <td>13 шт.</td>
                            </tr>
                            <tr>
                                <td>
                                    <span class="product-delivery__street">ул. Стахановцев, 10</span>
                                </td>
                                <td>5 шт.</td>
                            </tr>
                            <tr class="product-delivery__row-hide product-delivery__row-hidden">
                                <td>
                                    <span class="product-delivery__street">ул. Стахановцев, 10</span>
                                </td>
                                <td>5 шт.</td>
                            </tr>
                            <tr class="product-delivery__row-hide product-delivery__row-hidden">
                                <td>
                                    <span class="product-delivery__street">ул. Стахановцев, 10</span>
                                </td>
                                <td>5 шт.</td>
                            </tr>
                            <tr class="product-delivery__row-nav">
                                <td>
                                    <button class="product-delivery__more btn text-btn">
                                    <span class="product-delivery__more-show">Показать все</span>
                                    <span class="product-delivery__more-hide">Скрыть все</span>
                                    <svg width="8" height="6" viewBox="0 0 8 6" fill="none" xmlns="http://www.w3.org/2000/svg">
                                        <path d="M1 1.5L4 4.5L7 1.5" stroke="#3B6D9A" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
                                    </svg>
                                </button>
                                </td>
                                <td>
                                    <span class="grey-text">21.01.2022 в 17:00</span>
                                </td>
                            </tr>
                            <tr class="product-delivery__row-bottom">
                                <td>
                                    Стоимость доставки
                                </td>
                                <td>
                                    <div class="product-delivery__address-free">450 ₽</div>
                                </td>
                            </tr>
                            <tr class="product-delivery__row-bottom">
                                <td>
                                    При заказе от 20 000 ₽
                                </td>
                                <td>
                                    <div class="product-delivery__address-free">бесплатно</div>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="set">
    <h3 class="set__title display3">Собрать комплект</h3>
    <div class="set__wrap">
        <div class="set-card">
            <a href="" class="set-card__img">
                <img src="img/set.webp" alt="">
            </a>
            <button disabled class="set-card__select btn btn-grey">Текущий товар</button>
            <a href="" class="set-card__title">Кран шаровый со сгоном Tiemme Buran 3/4" (черная)</a>
            <div class="set-card__bottom">
                <div class="set-card__prices">
                    <div class="set-card__sale">
                        <span class="set-card__sale-price">3000</span>
                        <span class="set-card__sale-percent">–20%</span>
                    </div>
                    <div class="set-card__price set-card__price--red">
                        7610 ₽
                        <span>/ шт</span>
                    </div>
                </div>
                <button class="set-card__cart set-card__cart--active btn"></button>
            </div>
        </div>
        <div class="set-card">
            <a href="" class="set-card__img">
                <img src="img/set2.webp" alt="">
            </a>
            <button class="set-card__select btn btn-grey">Выбрать из 5</button>
            <a href="" class="set-card__title">Смеситель для раковины</a>
            <div class="set-card__bottom">
                <div class="set-card__prices">

                    <div class="set-card__price">
                        от 1300 ₽
                    </div>
                </div>
                <button class="set-card__cart btn"></button>
            </div>
        </div>
        <div class="set-card">
            <a href="" class="set-card__img">
                <img src="img/set3.webp" alt="">
            </a>
            <button class="set-card__select btn btn-grey">Выбрать из 4</button>
            <a href="" class="set-card__title">Труба металлопластиковая</a>
            <div class="set-card__bottom">
                <div class="set-card__prices">

                    <div class="set-card__price">
                        от 690 ₽
                    </div>
                </div>
                <button class="set-card__cart btn"></button>
            </div>
        </div>
        <div class="set-card">
            <a href="" class="set-card__img">
                <img src="img/set4.webp" alt="">
            </a>
            <button class="set-card__select set-card__select--hide btn btn-grey">Выбрать из 12</button>
            <a href="" class="set-card__title">Фильтр с 2-мя манометрами самоочищающийся RBM 1/2"</a>
            <div class="set-card__bottom">
                <div class="set-card__prices">
                    <div class="set-card__sale">
                        <span class="set-card__sale-price">3000</span>
                        <span class="set-card__sale-percent">–20%</span>
                    </div>
                    <div class="set-card__price set-card__price--red">
                        7610 ₽
                        <span>/ шт</span>
                    </div>
                </div>
                <button class="set-card__cart set-card__cart--active btn"></button>
            </div>
        </div>
        <div class="set-card">
            <a href="" class="set-card__img">
                <img src="img/set5.webp" alt="">
            </a>
            <button class="set-card__select btn btn-grey">Выбрать из 4</button>
            <a href="" class="set-card__title">Фильтр магнитный</a>
            <div class="set-card__bottom">
                <div class="set-card__prices">
                    <div class="set-card__price">
                        от 1500 ₽
                    </div>
                </div>
                <button class="set-card__cart btn"></button>
            </div>
        </div>
        <div class="set-card">
            <a href="" class="set-card__img">
                <img src="img/set6.webp" alt="">
            </a>
            <button class="set-card__select btn btn-grey">Выбрать другой</button>
            <a href="" class="set-card__title">Сифон для подключения бытовой техники RBM System</a>
            <div class="set-card__bottom">
                <div class="set-card__prices">
                    <div class="set-card__sale">
                        <span class="set-card__sale-price">3000</span>
                        <span class="set-card__sale-percent">–20%</span>
                    </div>
                    <div class="set-card__price set-card__price--red">
                        7610 ₽
                        <span>/ шт</span>
                    </div>
                </div>
                <button class="set-card__cart set-card__cart--active btn"></button>
            </div>
        </div>
    </div>
    <div class="set__bottom">
        <button class="set__btn btn btn-primary">Купить комплектом</button>
        <div class="set__prices">
            <div class="set__sale">
                <span class="set__sale-price">33 414</span>
                <span class="set__sale-percent">–20%</span>
            </div>
            <div class="set__price set__price--red">
                23 390 ₽
                <span>/ шт</span>
            </div>
        </div>
    </div>
</div>


<section class='catalog-block tab-parent catalog-item__products'>
    <div class='catalog-block__top'>
        <p class="catalog-block__title display3">Также вас могут заинтересовать</p>
        <a href="" class="catalog-block__link btn text-link">Больше товаров</a>
    </div>
    <div class='popular__tabs tabs'>
        <div class="tabs__wrap">
            <div class="tab tab--active" data-tab-path="1">Сопутствующие товары</div>
            <div class="tab" data-tab-path="2">Аналогичные товары</div>
        </div>
    </div>
    <div class="tab__content tab__content--active" data-tab-path="1">
        @@include('../catalog-components/_catalog-slider.html')
    </div>
    <div class="tab__content" data-tab-path="2">
        @@include('../catalog-components/_catalog-slider.html')
    </div>

</section>